html {
	font-family: 'Helvetica', sans-serif;
	font-size: 18px;
}

h1 {
	font-size: 2rem;
	font-weight: bold;
}

h4 {
	font-weight: bold;
	padding-bottom: 0.25rem;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.company {
	color: white;
	background-color: black;
}

.company .container {
	display: flex;
	align-items: center;
	padding: 0.66rem 0;
}

.logo {
	height: 1.5rem;
	padding-left: 0.5rem;
	padding-right: 1rem;
}

.cover-image {
	background-image: url(./resources/images/moto.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 25rem;
}

.blackbox {
	background-color: black;
	width: 20rem;
	color: white;
	padding: 2rem 3rem;
	top: 9rem;
	position: relative;
}

nav {
	background-color: firebrick;
	padding: 0.75rem 0;
	color: white;
	
}

nav .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mobile-nav {
	display: none;
}

.products {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
}

.box {
	width: 30%;
	border: 4px solid black;
}

.box-img {
	display: flex;
	padding: 2rem 0;
	height: 9rem;
	align-items: center;
	justify-content: center;
}

.box-img img {
	max-width: 8em;
}

.name {
	display: block;
	color: white;
	background-color: black;
	text-align: center;
	padding: 0.5rem 0;
}

.business-info {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
}

.business-info .title {
	width: 35%;
}

.info {
	display: block;
	padding: 1rem 2rem;
	color: white;
	background-color: black;
}

footer {
	background-color: black;
	padding: 5rem 0;
	margin: 4rem 0;
}

footer .container {
	color: white;
	display: flex;
	align-items: center;
	text-align: left;
	
}

/* Media Queries */

@media only screen and (max-width: 1024px) {
	.mobile-nav {
		display: block;
		text-align: center;
	}
	
	nav ul {
		display: none;
	}
	
	.box {
		width: 47%;
	}
	
	.box.glasses {
		display: none;
	}
	
}

@media only screen and (max-width: 470px) {
	h4{ 
		font-size: 0.77rem;
	}
	
	h1 {
		font-size: 1rem;
	}
	
	.cover-image {
		height: 15rem;
	}
	
	.blackbox {
		top: 10rem;
		padding: 1rem 2rem;
		width: 100%;
	}
	
	.box {
		width: 90%;
		margin: auto; 
	}
	
	.box.watch {
		display: none;
	}
	
	.business-info {
		flex-wrap: wrap;
	}
	
	.title {
		width: 90%;
		margin: 0.5rem auto;
	}
}
	
